<div class="alert alert-success" ng-if="pageSaveSuccess">
    <strong>Страница успешно сохранена!</strong>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{ post.title }}</h3>
    </div>
    <div class="panel-body">
        <div ng-bind-html="post.body"></div>
    </div>
    <div class="panel-footer">
        <a class="btn btn-success" href="#/posts/{{ post.id }}/edit">редактировать</a>
        <a class="btn btn-danger" href="#/posts/{{ post.id }}/destroy">destroy</a>
    </div>
</div>
