@import "vars";

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/glyphicons";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/button-groups";
@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/breadcrumbs";
@import "bootstrap/pagination";
@import "bootstrap/pager";
@import "bootstrap/labels";
@import "bootstrap/badges";
@import "bootstrap/jumbotron";
@import "bootstrap/thumbnails";
@import "bootstrap/alerts";
@import "bootstrap/progress-bars";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/panels";
@import "bootstrap/responsive-embed";
@import "bootstrap/wells";
@import "bootstrap/close";

// Components w/ JavaScript
@import "bootstrap/modals";
@import "bootstrap/tooltip";
@import "bootstrap/popovers";
@import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";
@import "bootstrap-mincer";
//@


@import "module";

/*
 * Base structure
 */




/* Move down content because we have a fixed navbar that is 50px tall */
body{
  padding-top: 50px;
}

.navbar-brand{
  width: 205px;
  height: 50px;
  padding: 0;
  background: url("logo.png") no-repeat 20px 0;
  font-size: 0;
}

/*
 * Global add-ons
 */

.sub-header{
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar{
  display: none;
}

@media (min-width: 768px) {
  .sidebar{
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar{
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li > a{
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > .active > a{
  color: #fff;
  background-color: #428bca;
  
  &:hover{
    color: #2A6496;
  }
}

/*
 * Main content
 */

.main{
  padding: 20px;
}

@media (min-width: 768px) {
  .main{
    padding-right: 40px;
    padding-left: 40px;
  }
}

.main .page-header{
  margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders{
  margin-bottom: 30px;
  text-align: center;
}

.placeholders h4{
  margin-bottom: 0;
}

.placeholder{
  margin-bottom: 20px;
}

.placeholder img{
  display: inline-block;
  border-radius: 50%;
}
