<!DOCTYPE html>
<html ng-app="staff">
<head>
  <title>Staff</title>
  <%= stylesheet_link_tag "staff/application", media: "all" %>
  <%= javascript_include_tag "staff/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div imoderiser=""></div>
<%= yield %>

</body>
</html>
