<!-- Yandex.Metrika counter -->
<div style="display:none;">
  <script type="text/javascript">
	  (function (w, c) {
		  (w[c] = w[c] || []).push(function () {
			  try {
				  w.yaCounter9087709 = new Ya.Metrika({id: 9087709, enableAll: true, trackHash: true});
			  }
			  catch (e) {
			  }
		  });
	  })(window, "yandex_metrika_callbacks");
  </script>
</div>
<script defer="defer" type="text/javascript" src="//mc.yandex.ru/metrika/watch.js"></script>
<noscript>&lt;div&gt;&lt;img src="//mc.yandex.ru/watch/9087709" style="position:absolute; left:-9999px;" alt="" /&gt;&lt;/div&gt;</noscript>
<!-- /Yandex.Metrika counter -->