<div class="clear"></div>
<div class="wrapper clearFix" id="Footer">
  <div class="moduletable">
    <p class="fl-l">115114, г. Москва, м. Павелецкая, БЦ «Святогор», ул. Летниковская 10, стр.2, 4 этаж<br> +7 (495) 98-00-765 <br>
      <a href="mailto:info@hrtsm.ru">info@hrtsm.ru</a></p>
    <p class="fl-r">&copy; Copyright 2010 All rights reserved</p>
  </div>
</div>