<div class="clearFix" id="Header">
  <div id="Logo">
    <object width="209" height="107" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000">
      <param value="sameDomain" name="allowScriptAccess">
      <param value="false" name="allowFullScreen">
      <param value="/assets/logo.swf" name="movie">
      <param value="high" name="quality">
      <param value="transparent" name="wmode">
      <param value="#ffffff" name="bgcolor">
      <embed width="209" height="107" align="middle" pluginspage="http://www.adobe.com/go/getflashplayer" type="application/x-shockwave-flash"
      allowfullscreen="false" allowscriptaccess="sameDomain" name="logo" bgcolor="#ffffff" wmode="transparent" quality="high" src="/assets/logo.swf">
    </object>
    <%= link_to '', "/#{locale}" %>
  </div>

  <div id="nav">
    <div class="mb15 clearFix">
      <div class="Links clearFix">
        <a href="/ru" class="home"></a>
        <!--<a href="/ru/sitemap" class="sitemap"></a>-->
        <a href="mailto:info@hrtsm.ru" class="email"></a>
      </div>
      <div class="LangSwith">
        <a href="/ru/">Rus</a>
        <i>|</i>
        <a href="/en/">Eng</a>
      </div>

      <%= raw module_to(@modules, 'header') %>

    </div>
    <%= render_cell :main_menu, :show %>

    <%= yield :pathway %>

  </div>
</div>