<p>
  <img src="/assets/tmp/img16.jpg">
</p>
<br>
<p>Уважаемые кандидаты!</p>
<p>Мы работаем с крупнейшими российскими и западными компаниями различных сфер деятельности.</p>
<p>Уверены у нас Вы найдете для себя интересную и перспективную работу.</p>
<p>Выбрав интересующую вас область деятельности, Вы сможете ознакомиться с рядом открытых вакансий и выслать резюме на рассмотрение.</p>
<p>Желаем успехов в поиске работы.</p>