<div class="wrapper mb35 clearFix" id="HomeSlogan">
  <div class="moduletable">
    <!-- закладки -->
    <ul class="tabs">
      <li style="display: none;" class=""><a href="#" class="current">homes</a></li>
      <li class="tab1"><a href="#">Pharma</a></li>
      <li class="tab2"><a href="#">Retail</a></li>
      <li class="tab3"><a href="#">Construction &amp; Engineering</a></li>
      <li class="tab4"><a href="#">FMCG</a></li>
      <li class="tab7 last"><a href="#">Oil &amp; Gas</a></li>
    </ul>
    <!-- содержимое закладок -->
    <div class="panes">
      <div style="display: block;"><img border="0" src="/assets/home/1.jpg"></div>
      <div style="display: none;"><img border="0" src="/assets/home/2.jpg"></div>
      <div style="display: none;"><img border="0" src="/assets/home/3.jpg"></div>
      <div style="display: none;"><img border="0" src="/assets/home/4.jpg"></div>
      <div style="display: none;"><img border="0" src="/assets/home/5.jpg"></div>
      <div style="display: none;"><img border="0" src="/assets/home/8.jpg"></div>
      <a href="/about/activity" style="display: none;"> </a></div>
  </div>

</div>