<div class="social">
  <p>Мы в соцсетях: <a target="_blank" href="http://www.facebook.com/pages/HR-Center-TSM/199365003433472" class="fb">Facebook</a>
    <a target="_blank" href="http://twitter.com/#!/hrctsm" class="tw">Twitter</a> <!--<a class="lj" href="#" mce_href="#">Livejournal</a>-->
  </p>
</div>


<!-- home_button_2 -->
<div class="moduletable_partners">
  <h3 class="h3_1">Наши партнеры</h3>
  <p class="fl-l"><img border="0" src="/assets/tmp/img3.jpg"></p>
  <p>
    Нашими партнерами являются крупнейшие западные и российские компании в ключевых направлениях: Pharma, Retail, Cons &amp; Ing, FMCG, Oil &amp; Gas.
  </p>
  <p><a href="/feedback-from-our-partners" class="link-1">отзывы партнёров</a></p>
</div>
<div class="moduletable_carier">
  <h3 class="h3_1">Карьера в HR Center TSM</h3>
  <p class="fl-l"><img border="0" src="/assets/tmp/img2.jpg"></p>
  <p>
    Мы открыты для талантливых, ярких и инициативных людей, которые стремятся к реализации своих целей посредством максимальной самоотдачи и
    ответственности за результат своей
    работы.
  </p>
  <p><a href="/about/career" class="link-1">вакансии HR Center TSM</a></p>
</div>
<div class="moduletable_partners">
  <h3 class="h3_1">Our partners</h3>
  <p class="fl-l"><img border="0" src="/assets/tmp/img3.jpg"></p>
  <p>
    Our partners are presented as the largest westrn and Russian companies in key directions: Pharma, Retail, Cons & Ing, FMCG, Oil & Gas.
  </p>
  <p><a href="/feedback-from-our-partners" class="link-1">feedback of our partners</a></p>
</div>
<div class="moduletable_carier">
  <h3 class="h3_1">Career at HR Center TSM</h3>
  <p class="fl-l"><img border="0" src="/assets/tmp/img2.jpg"></p>
  <p>
    We are opened to talented, bright and initiative people that strain after realization of their goals through maximal self dedication and
    responsibility for result of their work.
  </p>
  <p><a href="/about/career" class="link-1">HR Center TSM vacancies</a></p>
</div>


<!-- page_button -->
<div class="moduletable">
  <h3 class="h3_1">Наши партнеры</h3>
  <p class="fl-l"><img border="0" src="/assets/tmp/img3.jpg"></p>
  <p>
    Нашими партнерами являются крупнейшие западные и российские компании в ключевых направлениях: Pharma, Retail, Cons &amp; Ing, FMCG, Oil &amp; Gas.
  </p>
  <p><a href="/feedback-from-our-partners" class="link-1">отзывы партнёров</a></p>
</div>
<div class="moduletable last">
  <h3 class="h3_1">Карьера в HR Center TSM</h3>
  <p class="fl-l"><img border="0" src="/assets/tmp/img2.jpg"></p>
  <p>
    Мы открыты для талантливых, ярких и инициативных людей, которые стремятся к реализации своих целей посредством максимальной самоотдачи и
    ответственности за результат своей
    работы.
  </p>
  <p><a href="/about/career" class="link-1">вакансии HR Center TSM</a></p>
</div>
<div class="moduletable">
  <h3 class="h3_1">Our partners</h3>
  <p class="fl-l"><img border="0" src="/assets/tmp/img3.jpg"></p>
  <p>
    Our partners are presented as the largest westrn and Russian companies in key directions: Pharma, Retail, Cons & Ing, FMCG, Oil & Gas.
  </p>
  <p><a href="/feedback-from-our-partners" class="link-1">feedback of our partners</a></p>
</div>
<div class="moduletable last">
  <h3 class="h3_1">Career at HR Center TSM</h3>
  <p class="fl-l"><img border="0" src="/assets/tmp/img2.jpg"></p>
  <p>
    We are opened to talented, bright and initiative people that strain after realization of their goals through maximal self dedication and
    responsibility for result of their work.
  </p>
  <p><a href="/about/career" class="link-1">HR Center TSM vacancies</a></p>
</div>



<!-- page_left -->
<div class="moduletable">
  <h3 class="h3_2">Услуги по подбору персонала</h3>
  <p><img src="/assets/tmp/img4.jpg" border="0"/></p>
  <p><a class="link-2" href="/service">подробнее об услуге</a></p>
</div>
<div class="moduletable">
  <h3 class="h3_3">Проекты<br/>Executive Search</h3>
  <p><img src="/assets/tmp/img5.jpg" border="0"/></p>
  <p><a class="link-3" href="/service/executivesearch">подробнее об услуге</a></p>
</div>
<div class="moduletable">
  <h3 class="h3_4">Комплексное<br/> исследование рынков</h3>
  <p><img src="/assets/tmp/img6.jpg" border="0"/></p>
  <p><a class="link-4" href="/service/research">подробнее об услуге</a></p>
</div>
<div class="moduletable">
  <h3 class="h3_2">Recruitment services</h3>
  <p><img src="/assets/tmp/img4.jpg" border="0"/></p>
  <p><a class="link-2" href="/service">read more</a></p>
</div>
<div class="moduletable">
  <h3 class="h3_3">Executive Search projects</h3>
  <p><img src="/assets/tmp/img5.jpg" border="0"/></p>
  <p><a class="link-3" href="/service/executivesearch">read more</a></p>
</div>
<div class="moduletable">
  <h3 class="h3_4">Comprehensive market research</h3>
  <p><img src="/assets/tmp/img6.jpg" border="0"/></p>
  <p><a class="link-4" href="/service/research">read more</a></p>
</div>


<!-- home_button_1 -->
<div class="moduletable">
  <h3 class="h3_2"><br>Подбор персонала</h3>
  <p><img border="0" src="/assets/tmp/img4.jpg"></p>
  <div class="desc">
    <p>Сегодня на конкурентном рынке рекрутмента довольно сложно найти достойного партнера по вопросам подбора персонала, так же как и
      достойных кандидатов для Вашей компании.
    </p>
    <p>Мы уверены, наши подходы помогают достичь того, чего не могут наши конкуренты.</p>
  </div>
  <p><a href="/service" class="link-2">подробнее об услуге</a></p>
</div>
<div class="moduletable">
  <h3 class="h3_3">Проекты<br>Executive Search</h3>
  <p><img border="0" src="/assets/tmp/img5.jpg"></p>
  <div class="desc">
    <p>Бизнес движется со скоростью света. Разве это не время, чтобы Вы в партнерстве с профессиональными HR консультантами сделали следующий
      стратегический шаг?
    </p>
    <p>Executive Search &ndash; это поиск талантов: выявление и оценка выдающихся руководителей, посредничество в вовлечении их в Ваш
      бизнес.
    </p>
  </div>
  <p><a href="/service/executivesearch" class="link-3">подробнее об услуге</a></p>
</div>
<div class="moduletable">
  <h3 class="h3_4"><br>Исследование рынков</h3>
  <p><img border="0" src="/assets/tmp/img6.jpg"></p>
  <div class="desc">В HRC TSM создано отдельное подразделение &ndash; группа аналитиков, которая занимается проведением маркетинговых
    исследований HR рынка и подготовкой обзоров заработных плат специалистов различных сфер и уровней.
  </div>
  <p><a href="/service/research" class="link-4">подробнее об услуге</a></p>
</div>