<div class="moduletable_partners">
  <h3 class="h3_1">Наши партнеры</h3>
  <p class="fl-l"><img border="0" src="/assets/tmp/img3.jpg"></p>
  <p>
    Нашими партнерами являются крупнейшие западные и российские компании в ключевых направлениях: Pharma, Retail, Cons &amp; Ing, FMCG, Oil &amp; Gas.
  </p>
  <p><a href="/feedback-from-our-partners" class="link-1">отзывы партнёров</a></p>
</div>
<div class="moduletable_carier">
  <h3 class="h3_1">Карьера в HR Center TSM</h3>
  <p class="fl-l"><img border="0" src="/assets/tmp/img2.jpg"></p>
  <p>
    Мы открыты для талантливых, ярких и инициативных людей, которые стремятся к реализации своих целей посредством максимальной самоотдачи и
    ответственности за результат своей
    работы.
  </p>
  <p><a href="/about/career" class="link-1">вакансии HR Center TSM</a></p>
</div>


<div class="moduletable">
  <h3 class="h3_1">Наши партнеры</h3>
  <table border="0">
    <tbody>
    <tr>
      <td><img border="0" src="/assets/tmp/img3.jpg"></td>
      <td>
        <p>Нашими партнерами являются крупнейшие западные и российские компании в ключевых направлениях: Pharma, Retail, Cons &amp; Ing, FMCG,
          Oil &amp; Gas.
        </p>
        <p><a href="/feedback-from-our-partners" class="link-1">отзывы партнёров</a></p>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="moduletable last">
  <h3 class="h3_1">Карьера в HR Center TSM</h3>
  <table border="0">
    <tbody>
    <tr>
      <td><img border="0" src="/assets/tmp/img9.jpg"></td>
      <td>
        <p>Мы открыты для талантливых, ярких и инициативных людей, которые стремятся к реализации своих целей посредством максимальной самоотдачи и
          ответственности за результат своей работы.
        </p>
        <p><a href="/about/career" class="link-1">вакансии HR Center TSM</a></p>
      </td>
    </tr>
    </tbody>
  </table>
</div>




<div class="moduletable">
  <h3 class="h3_2">Услуги по подбору персонала</h3>
  <p><img src="/assets/tmp/img4.jpg" border="0"/></p>
  <p><a class="link-2" href="/service">подробнее об услуге</a></p>
</div>
<div class="moduletable">
  <h3 class="h3_3">Проекты<br/>Executive Search</h3>
  <p><img src="/assets/tmp/img5.jpg" border="0"/></p>
  <p><a class="link-3" href="/service/executivesearch">подробнее об услуге</a></p>
</div>
<div class="moduletable">
  <h3 class="h3_4">Комплексное<br/> исследование рынков</h3>
  <p><img src="/assets/tmp/img6.jpg" border="0"/></p>
  <p><a class="link-4" href="/service/research">подробнее об услуге</a></p>
</div>