<div class="moduletable_partners">
  <h3 class="h3_1">Наши партнеры</h3>
  <p class="fl-l"><img border="0" src="/assets/tmp/img3.jpg"></p>
  <p>
    Нашими партнерами являются крупнейшие западные и российские компании в ключевых направлениях: Pharma, Retail, Cons &amp; Ing, FMCG, Oil &amp; Gas.
  </p>
  <p><a href="/feedback-from-our-partners" class="link-1">отзывы партнёров</a></p>
</div>
<div class="moduletable_carier">
  <h3 class="h3_1">Карьера в HR Center TSM</h3>
  <p class="fl-l"><img border="0" src="/assets/tmp/img2.jpg"></p>
  <p>
    Мы открыты для талантливых, ярких и инициативных людей, которые стремятся к реализации своих целей посредством максимальной самоотдачи и ответственности за результат своей
    работы.
  </p>
  <p><a href="/about/career" class="link-1">вакансии HR Center TSM</a></p>
</div>