<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Создание/редактирование страницы</h2>
    </div>
    <form role="form" action="">
        <div class="panel-body">
            <div class="form-group">
                <label for="lang">Язык</label>
                <select id="lang" name="pageLang" ng-model="obj.content.lang" ng-change="findPage(obj.content.lang)">
                    <option value="ru">ru</option>
                    <option value="en">en</option>
                </select>
            </div>
            <div class="form-group">
                <label for="name">Системное имя</label>
                <input type="text" class="form-control" id="name" placeholder="Заголовок" name="pageTitle" ng-model="obj.page.name">
            </div>
            <div class="form-group">
                <label for="title">Заголовок</label>
                <input type="text" class="form-control" id="title" placeholder="Заголовок" name="pageTitle" ng-model="obj.content.title">
            </div>
            <div class="form-group">
                <label for="path">Url страницы</label>
                <input type="text" class="form-control" id="path" placeholder="Url страницы" name="pagePath" ng-model="obj.page.path">
            </div>
            <div class="form-group">
                <label>Содержимое</label>
                <!--<input ng-model="obj.content.body" type="text">-->
                <div text-angular ng-model="obj.content.body"></div>
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary" ng-click="pageEdit()">Сохранить</button>
            <!--<button type="submit" class="btn btn-primary" ng-click="pageNew()" ng-show="new == 1">Сохранить</button>-->
        </div>
    </form>
</div>