<div class="row pagesHead">
    <div class="col-xs-8">
        <h2>Список страниц</h2>
    </div>
    <div class="col-xs-4 text-right">
        <a href="#/pages/new" class="btn btn-primary">Создать страницу</a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Lang</th>
            <th>Path</th>
            <th>Заголовок</th>
            <th>Контент</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="page in pages">
            <td><a href="#/pages/{{ page.id }}">{{ page.id }}</a></td>
            <td>{{ page.lang }}</td>
            <td>{{ page.path }}</td>
            <td>{{ page.title }}</td>
            <td ng-bind-html="page.body"></td>
            <td>
                <a class="btn btn-success" href="#/pages/{{ page.id }}/edit">редактировать</a>
                <a class="btn btn-danger" href="#/pages/{{ page.id }}/destroy">destroy</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>