<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Заголовок</th>
            <th>Table heading</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="page in pages">
            <td><a href="#/pages/{{ page.id }}">{{ page.id }}</a></td>
            <td>{{ page.title }}</td>
            <td>
                <a class="btn btn-danger" ng-click="destroy(page.id)">destroy</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<a href="#/pages/new" class="btn btn-primary">Создать страницу</a>