<%= raw module_to(@modules, "home_promo") %>

<div id="HomeCenter">
  <div class="conteiner">
    <div class="wrapper clearFix">
      <%= raw module_to(@modules, "home_button_1") %>
    </div>
  </div>
</div>
<div class="wrapper clearFix" id="HomeBottom">
  <%= raw module_to(@modules, "home_button_2") %>
</div>