<p><img src="/assets/tmp/img10.jpg" border="0"/></p>
<div class="MaincolCenterModule clearFix">
  <div class="moduletable_scope clearFix">
    <h4>Мы специализируемся на следующих бизнес направлениях:</h4>
    <ul class="scope col-1">
      <li class="li-1"><a href="#">Pharma</a></li>
      <li class="li-2"><a href="#">Retail</a></li>
      <li class="li-3"><a href="#">Construction &amp; Engineering</a></li>
    </ul>
    <ul class="scope col-2">
      <li class="li-4"><a href="#">FMCG</a></li>
      <li class="li-7"><a href="#">Oil &amp; Gas</a></li>
    </ul>
  </div>
</div>
<!--BEGIN BANNER-->
<div class="Banner">
  <object width="693" height="374" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540001">
    <param value="sameDomain" name="allowScriptAccess">
    <param value="false" name="allowFullScreen">
    <param value="/assets/ban2.swf" name="movie">
    <param value="high" name="quality">
    <param value="transparent" name="wmode">
    <param value="#ffffff" name="bgcolor">
    <embed width="693" height="374" align="middle" pluginspage="http://www.adobe.com/go/getflashplayer" type="application/x-shockwave-flash"
    allowfullscreen="false" allowscriptaccess="sameDomain" name="logo" bgcolor="#ffffff" wmode="transparent" quality="high" src="/assets/ban2.swf">
  </object>
</div>
<p><img src="/assets/tmp/en/img10.jpg" border="0"/></p>
<div class="MaincolCenterModule clearFix">
  <div class="moduletable_scope clearFix">
    <h4>We specialize in the following business areas:</h4>
    <ul class="scope col-1">
      <li class="li-1"><a href="#">Pharma</a></li>
      <li class="li-2"><a href="#">Retail</a></li>
      <li class="li-3"><a href="#">Construction &amp; Engineering</a></li>
    </ul>
    <ul class="scope col-2">
      <li class="li-4"><a href="#">FMCG</a></li>
      <li class="li-7"><a href="#">Oil &amp; Gas</a></li>
    </ul>
  </div>
</div>
<!--BEGIN BANNER-->
<div class="Banner">
  <object width="693" height="374" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540001">
    <param value="sameDomain" name="allowScriptAccess">
    <param value="false" name="allowFullScreen">
    <param value="/assets/ban2En.swf" name="movie">
    <param value="high" name="quality">
    <param value="transparent" name="wmode">
    <param value="#ffffff" name="bgcolor">
    <embed width="693" height="374" align="middle" pluginspage="http://www.adobe.com/go/getflashplayer" type="application/x-shockwave-flash"
    allowfullscreen="false" allowscriptaccess="sameDomain" name="logo" bgcolor="#ffffff" wmode="transparent" quality="high" src="/assets/ban2En.swf">
  </object>
</div>


<h1>Команда HRC TSM</h1>
<p><img src="/assets/tmp/img11.jpg" border="0"/></p>
<br/>
<p>HR Center TSM использует исключительно индивидуальный командный подход к каждому проекту и задаче клиента.</p>
<p>Мы работаем комплексно над проектами для обеспечения максимального качества и оперативности.</p>
<p><img src="/assets/tmp/img12.jpg" border="0"/></p>
<p>Вместе <strong>Руководитель группы и Специалисты по подбору или Ведущий консультант, который работает самостоятельно</strong>, реализовывая каждый
  проект, представляют клиенту исключительно индивидуальный подход, высокий уровень услуг, достойных кандидатов, безусловно соответствующих заявленным
  требованиям.
</p>
<h1>HRC TSM team</h1>
<p><img src="/assets/tmp/en/img11.jpg" border="0"/></p>
<br/>
<p>HR Center TSM takes advantage of exclusively individual team approach to each project and task of a client.</p>
<p>We work on projects comprehensively to provide maximum quality and operational efficiency.</p>
<p><img src="/assets/tmp/en/img12.jpg" border="0"/></p>
<p>
  Together Team leader and Recruiters or Leading consultant who works independently, while realizing each project they present exclusively individual
  approach, top-flight services, deserving candidates that undoubtedly correspond to stated demands.
</p>



<h1>Карьера в HRC TSM</h1>
<p><img src="/assets/tmp/img13.jpg" border="0"/></p>
<br/>
<p>Сотрудники HR Center TSM амбициозны и нацелены на развитие и карьеру. Если вы именно такой человек, не удивительно, что вы заинтересованы и
  оцениваете, как и где ваша карьера будет развиваться. И вы сами коротко можете ответить себе: «Практически в любом месте» - потому что ваши новые
  достижения зависят только от вас.
</p>
<p>Мы готовы предложить интересные перспективы как специалистам с глубоким опытом для дальнейшей реализации себя в компании и достижения новых целей,
  так и молодым специалистам без опыта работы в данной сфере по программе Hi Po.
</p>
<br/>
<p><img src="/assets/tmp/img14.jpg" border="0"/></p>
<br/>
<table border="0">
  <tbody>
  <tr>
    <td>
      <p class="color1">Тем, кто с нами мы гарантируем:</p>
      <ul>
        <li>Перспективную и активную работу</li>
        <li>Стабильность и социальные гарантии</li>
        <li>Современные мотивационные схемы</li>
        <li>Возможность личного развития и карьерного роста</li>
      </ul>
    </td>
    <td style="width: 40px;"><br/></td>
    <td>
      <p class="color1">От тех, кто с нами, мы ожидаем:</p>
      <ul>
        <li>Эффективность и нацеленность на результат</li>
        <li>Командный подход в работе</li>
        <li>Проактивность и инициативность</li>
        <li>Вовлеченность и лояльность</li>
      </ul>
    </td>
  </tr>
  </tbody>
</table>
<h4><a class="color1" href="/jobs/jobs-hrc-tsm">Вакансии компании</a></h4>

<p><img src="/assets/tmp/en/img13.jpg" border="0"/></p>
<br/>
<p>
  HR Center TSM employees are ambitious and aimed at development and career. If that is the case for you it is not surprising that you are interested
  and evaluate how and where your career will develop. And you can give a short answer to yourself: "Nearly everywhere" - because your new
  achievements depend only upon you.
</p>
<p>
  We are ready to propose interesting perspectives both to specialists with profound experience for further self-realization in a company, for
  achievement of new goals and to young specialists without experience in this area after program Hi Po.
</p>
<br/>
<p><img src="/assets/tmp/en/img14.jpg" border="0"/></p>
<br/>
<table border="0">
  <tbody>
  <tr>
    <td>
      <p class="color1">To those who are with us we guarantee:</p>
      <ul>
        <li>Job with good prospects</li>
        <li>Stability and social security</li>
        <li>Modern KPI standards</li>
        <li>Possibility for self-development and career growth</li>
      </ul>
    </td>
    <td style="width: 40px;"><br/></td>
    <td>
      <p class="color1">From those who are with us we expect:</p>
      <ul>
        <li>Efficiency and commitment to results</li>
        <li>Team approach at work</li>
        <li>Proactivity and initiativity</li>
        <li>Engagement and loyalty</li>
      </ul>
    </td>
  </tr>
  </tbody>
</table>
<h4><a class="color1" href="/jobs/jobs-hrc-tsm">Vacancies company</a></h4>


<h1>Услуги по подбору персонала</h1>
<p><img src="/assets/tmp/img17.jpg" border="0"/></p>
<br/>
<p>Сегодня на конкурентном рынке рекрутмента довольно сложно найти достойного партнера по вопросам подбора персонала, так же как и достойных
  кандидатов для Вашей компании.
</p>
<p><strong>Мы уверены, наши подходы помогают достичь того, чего не могут наши конкуренты. </strong></p>
<ul>
  <li>Мы не направим Вам десятки резюме с уточнением, кого же из представленных кандидатов Вы хотите видеть. Мы представим Вам два-три профиля,
    которые на самом деле соответствуют вашим потребностям, и <strong>Вы без труда сделаете свой выбор</strong>.
  </li>
  <li>Мы знаем, как найти достойного кандидата для Вашей цели, потому что мы работаем на этом рынке уже много лет.</li>
  <li>Мы регулярно получаем обратную связь от наших партнеров и кандидатов о том, что они ощущают разницу при работе с нами.</li>
</ul>
<p>Если Вы серьезно настроены работать с лидером рынка в секторе подбора персонала, мы готовы ответить на все Ваши вопросы и обсудить формат
  сотрудничества в любое удобное для Вас время. <br/><br/></p>

<h1>Recruitment services</h1>
<p><img src="/assets/tmp/en/img17.jpg" border="0"/></p>
<br/>
<p>Today on the competitive market of recruitment it is quite hard to find a worthy partner regarding personnel recruitment, as well as deserving
  candidates for your Company.
</p>
<p><strong>We are sure that our approaches help to reach what can't be reached by our opponents.</strong></p>
<ul>
  <li>We won't forward you tens of CVs specifying who of presented candidates do you want to see. We will provide you two or three profiles that
    trully correspond your needs and you will easily make your choise.
  </li>
  <li>We know how to find a deserving candidate for your goal because we've been working on this market for many years.</li>
  <li>We receive feedback from our partners and candidates on a regular basis, saying they feel the difference when working with us.</li>
</ul>
<p>If you are seriously intended to work with leader of recruitment market we are ready to satisfy any of your question and to discuss the format of
  our collaboration at your convenience.
</p>