<p><img src="/assets/tmp/img10.jpg" border="0"/></p>
<div class="MaincolCenterModule clearFix">
  <div class="moduletable_scope clearFix">
    <h4>Мы специализируемся на следующих бизнес направлениях:</h4>
    <ul class="scope col-1">
      <li class="li-1"><a href="#">Pharma</a></li>
      <li class="li-2"><a href="#">Retail</a></li>
      <li class="li-3"><a href="#">Construction &amp; Engineering</a></li>
    </ul>
    <ul class="scope col-2">
      <li class="li-4"><a href="#">FMCG</a></li>
      <li class="li-7"><a href="#">Oil &amp; Gas</a></li>
    </ul>
  </div>
</div>
<!--BEGIN BANNER-->
<div class="Banner">
  <object width="693" height="374" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540001">
    <param value="sameDomain" name="allowScriptAccess">
    <param value="false" name="allowFullScreen">
    <param value="/assets/ban2.swf" name="movie">
    <param value="high" name="quality">
    <param value="transparent" name="wmode">
    <param value="#ffffff" name="bgcolor">
    <embed width="693" height="374" align="middle" pluginspage="http://www.adobe.com/go/getflashplayer" type="application/x-shockwave-flash"
           allowfullscreen="false" allowscriptaccess="sameDomain" name="logo" bgcolor="#ffffff" wmode="transparent" quality="high" src="/assets/ban2.swf">
  </object>
</div>
<p><img src="/assets/tmp/en/img10.jpg" border="0"/></p>
<div class="MaincolCenterModule clearFix">
  <div class="moduletable_scope clearFix">
    <h4>We specialize in the following business areas:</h4>
    <ul class="scope col-1">
      <li class="li-1"><a href="#">Pharma</a></li>
      <li class="li-2"><a href="#">Retail</a></li>
      <li class="li-3"><a href="#">Construction &amp; Engineering</a></li>
    </ul>
    <ul class="scope col-2">
      <li class="li-4"><a href="#">FMCG</a></li>
      <li class="li-7"><a href="#">Oil &amp; Gas</a></li>
    </ul>
  </div>
</div>
<!--BEGIN BANNER-->
<div class="Banner">
  <object width="693" height="374" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540001">
    <param value="sameDomain" name="allowScriptAccess">
    <param value="false" name="allowFullScreen">
    <param value="/assets/ban2En.swf" name="movie">
    <param value="high" name="quality">
    <param value="transparent" name="wmode">
    <param value="#ffffff" name="bgcolor">
    <embed width="693" height="374" align="middle" pluginspage="http://www.adobe.com/go/getflashplayer" type="application/x-shockwave-flash"
           allowfullscreen="false" allowscriptaccess="sameDomain" name="logo" bgcolor="#ffffff" wmode="transparent" quality="high" src="/assets/ban2En.swf">
  </object>
</div>


<h1>Команда HRC TSM</h1>
<p><img src="/assets/tmp/img11.jpg" border="0"/></p>
<br/>
<p>HR Center TSM использует исключительно индивидуальный командный подход к каждому проекту и задаче клиента.</p>
<p>Мы работаем комплексно над проектами для обеспечения максимального качества и оперативности.</p>
<p><img src="/assets/tmp/img12.jpg" border="0"/></p>
<p>Вместе <strong>Руководитель группы и Специалисты по подбору или Ведущий консультант, который работает самостоятельно</strong>, реализовывая каждый
  проект, представляют клиенту исключительно индивидуальный подход, высокий уровень услуг, достойных кандидатов, безусловно соответствующих заявленным
  требованиям.
</p>
<h1>HRC TSM team</h1>
<p><img src="/assets/tmp/en/img11.jpg" border="0"/></p>
<br/>
<p>HR Center TSM takes advantage of exclusively individual team approach to each project and task of a client.</p>
<p>We work on projects comprehensively to provide maximum quality and operational efficiency.</p>
<p><img src="/assets/tmp/en/img12.jpg" border="0"/></p>
<p>
  Together Team leader and Recruiters or Leading consultant who works independently, while realizing each project they present exclusively individual
  approach, top-flight services, deserving candidates that undoubtedly correspond to stated demands.
</p>



<h1>Карьера в HRC TSM</h1>
<p><img src="/assets/tmp/img13.jpg" border="0"/></p>
<br/>
<p>Сотрудники HR Center TSM амбициозны и нацелены на развитие и карьеру. Если вы именно такой человек, не удивительно, что вы заинтересованы и
  оцениваете, как и где ваша карьера будет развиваться. И вы сами коротко можете ответить себе: «Практически в любом месте» - потому что ваши новые
  достижения зависят только от вас.
</p>
<p>Мы готовы предложить интересные перспективы как специалистам с глубоким опытом для дальнейшей реализации себя в компании и достижения новых целей,
  так и молодым специалистам без опыта работы в данной сфере по программе Hi Po.
</p>
<br/>
<p><img src="/assets/tmp/img14.jpg" border="0"/></p>
<br/>
<table border="0">
  <tbody>
  <tr>
    <td>
      <p class="color1">Тем, кто с нами мы гарантируем:</p>
      <ul>
        <li>Перспективную и активную работу</li>
        <li>Стабильность и социальные гарантии</li>
        <li>Современные мотивационные схемы</li>
        <li>Возможность личного развития и карьерного роста</li>
      </ul>
    </td>
    <td style="width: 40px;"><br/></td>
    <td>
      <p class="color1">От тех, кто с нами, мы ожидаем:</p>
      <ul>
        <li>Эффективность и нацеленность на результат</li>
        <li>Командный подход в работе</li>
        <li>Проактивность и инициативность</li>
        <li>Вовлеченность и лояльность</li>
      </ul>
    </td>
  </tr>
  </tbody>
</table>
<h4><a class="color1" href="/jobs/jobs-hrc-tsm">Вакансии компании</a></h4>

<p><img src="/assets/tmp/en/img13.jpg" border="0"/></p>
<br/>
<p>
  HR Center TSM employees are ambitious and aimed at development and career. If that is the case for you it is not surprising that you are interested
  and evaluate how and where your career will develop. And you can give a short answer to yourself: "Nearly everywhere" - because your new
  achievements depend only upon you.
</p>
<p>
  We are ready to propose interesting perspectives both to specialists with profound experience for further self-realization in a company, for
  achievement of new goals and to young specialists without experience in this area after program Hi Po.
</p>
<br/>
<p><img src="/assets/tmp/en/img14.jpg" border="0"/></p>
<br/>
<table border="0">
  <tbody>
  <tr>
    <td>
      <p class="color1">To those who are with us we guarantee:</p>
      <ul>
        <li>Job with good prospects</li>
        <li>Stability and social security</li>
        <li>Modern KPI standards</li>
        <li>Possibility for self-development and career growth</li>
      </ul>
    </td>
    <td style="width: 40px;"><br/></td>
    <td>
      <p class="color1">From those who are with us we expect:</p>
      <ul>
        <li>Efficiency and commitment to results</li>
        <li>Team approach at work</li>
        <li>Proactivity and initiativity</li>
        <li>Engagement and loyalty</li>
      </ul>
    </td>
  </tr>
  </tbody>
</table>
<h4><a class="color1" href="/jobs/jobs-hrc-tsm">Vacancies company</a></h4>


<h1>Услуги по подбору персонала</h1>
<p><img src="/assets/tmp/img17.jpg" border="0"/></p>
<br/>
<p>Сегодня на конкурентном рынке рекрутмента довольно сложно найти достойного партнера по вопросам подбора персонала, так же как и достойных
  кандидатов для Вашей компании.
</p>
<p><strong>Мы уверены, наши подходы помогают достичь того, чего не могут наши конкуренты. </strong></p>
<ul>
  <li>Мы не направим Вам десятки резюме с уточнением, кого же из представленных кандидатов Вы хотите видеть. Мы представим Вам два-три профиля,
    которые на самом деле соответствуют вашим потребностям, и <strong>Вы без труда сделаете свой выбор</strong>.
  </li>
  <li>Мы знаем, как найти достойного кандидата для Вашей цели, потому что мы работаем на этом рынке уже много лет.</li>
  <li>Мы регулярно получаем обратную связь от наших партнеров и кандидатов о том, что они ощущают разницу при работе с нами.</li>
</ul>
<p>Если Вы серьезно настроены работать с лидером рынка в секторе подбора персонала, мы готовы ответить на все Ваши вопросы и обсудить формат
  сотрудничества в любое удобное для Вас время. <br/><br/></p>

<h1>Recruitment services</h1>
<p><img src="/assets/tmp/en/img17.jpg" border="0"/></p>
<br/>
<p>Today on the competitive market of recruitment it is quite hard to find a worthy partner regarding personnel recruitment, as well as deserving
  candidates for your Company.
</p>
<p><strong>We are sure that our approaches help to reach what can't be reached by our opponents.</strong></p>
<ul>
  <li>We won't forward you tens of CVs specifying who of presented candidates do you want to see. We will provide you two or three profiles that
    trully correspond your needs and you will easily make your choise.
  </li>
  <li>We know how to find a deserving candidate for your goal because we've been working on this market for many years.</li>
  <li>We receive feedback from our partners and candidates on a regular basis, saying they feel the difference when working with us.</li>
</ul>
<p>If you are seriously intended to work with leader of recruitment market we are ready to satisfy any of your question and to discuss the format of
  our collaboration at your convenience.
</p>




<h1>Проекты Executive Search</h1>
<p><img border="0" src="/assets/tmp/img18.jpg"></p>
<br>
<p>Бизнес движется со скоростью света. Разве это не время, чтобы Вы в партнерстве с профессиональными HR консультантами сделали следующий стратегический шаг?</p>
<p>Executive Search &ndash; это поиск талантов: выявление и оценка выдающихся руководителей, посредничество в вовлечении их в Ваш бизнес.</p>
<p>Мы видим свою роль, как Executive Search партнера, не только в том, чтобы удовлетворять Ваши ожидания в поиске лучших кандидатов, но и выступать в качестве консультантов,
  владеющих информацией о состоянии рынка и лучших кандидатах.
</p>
<p>Успешно реализованные проекты Executive Search дают нам уверенность в отличном результате будущих задач для Вашего бизнеса.</p>
<p>&nbsp;</p>
<p><img border="0" src="/assets/tmp/img19.jpg"></p>

<h1>Executive Search projects</h1>
<p><img border="0" src="/assets/tmp/en/img18.jpg"></p>
<br>
<p>Business runs at speed of light. Isn’t that the right moment for you to make the next strategic step in partnership with professional HR consultants?</p>
<p>Executive Search – is a search for talents: revealing and estimating outstanding managers, employment mediation to involve them in your business.</p>
<p>We see our role as Executive Search partner not only in satisfying your expectations in a search for best candidates, but also in being a consultant that possesses information
  about market condition and best candidates.
</p>
<p>Successfully realized projects of Executive Search give us confidence in excellent result of prospective objectives for your business.</p>
<p>&nbsp;</p>
<p><img border="0" src="/assets/tmp/img19.jpg"></p>





<h1>Комплексное исследование рынков</h1>
<p><img src="/assets/tmp/img20.jpg"/></p>
<br/>
<p>В HRC TSM создано отдельное подразделение – группа аналитиков, которая занимается проведением маркетинговых исследований HR рынка и подготовкой обзоров заработных плат
  специалистов различных сфер и уровней.
</p>
<p><strong>Основными блоками исследования являются: </strong></p>
<ul>
  <li>Детальный анализ для определения основных тенденций развития рынка</li>
  <li>Анализ уровеня оплаты труда</li>
  <li>Прогнозы на ближайшую перспективу развития рынка</li>
</ul>
<div class="moduletable_scope clearFix">
  <p>Мы предоставляем анализ рынка любой из сфер бизнеса, в которой мы профилируемся и имеем широкий опыт:</p>
  <ul class="scope col-1">
    <li class="li-1"><a href="#">Pharma</a></li>
    <li class="li-2"><a href="#">Retail</a></li>
    <li class="li-3"><a href="#">Construction &amp; Engineering</a></li>
    <li class="li-4"><a href="#">FMCG</a></li>
    <li class="li-5"><a href="#">Logistic</a></li>
    <li class="li-6"><a href="#">Industry</a></li>
  </ul>
  <ul class="scope col-2">
    <li class="li-7"><a href="#">Oil &amp; Gas</a></li>
    <li class="li-8"><a href="#">IT &amp; Telecommunication</a></li>
    <li class="li-9"><a href="#">Food Industry </a></li>
    <li class="li-10"><a href="#">Consulting</a></li>
    <li class="li-11"><a href="#">Banks &amp; Insurance </a></li>
  </ul>
</div>
<p>По запросу партнера в исследование возможно включить дополнительные необходимые блоки.</p>

<h1>Comprehensive market research</h1>
<p><img border="0" src="/assets/tmp/en/img20.jpg"></p>
<br>
<p>There was established a separate subdivision at HRC TSM - a group of analysts who lead marketing researches at HR market and who prepares salary reports on specialists of
  different skill levels and professional areas.
</p>
<p><strong>Essential blocks of research are:</strong></p>
<ul>
  <li>Detailed analysis to define main tendencies of market development.</li>
  <li>Analysis of the nearest prospect of market development</li>
  <li>Forecast for the nearest prospect of market development</li>
</ul>
<div class="moduletable_scope clearFix">
  <p>We provide market analysis of any business area we specialize in and have a profound experience:</p>
  <ul class="scope col-1">
    <li class="li-1"><a href="#">Pharma</a></li>
    <li class="li-2"><a href="#">Retail</a></li>
    <li class="li-3"><a href="#">Construction &amp; Engineering</a></li>
    <li class="li-4"><a href="#">FMCG</a></li>
    <li class="li-5"><a href="#">Logistic</a></li>
    <li class="li-6"><a href="#">Industry</a></li>
  </ul>
  <ul class="scope col-2">
    <li class="li-7"><a href="#">Oil &amp; Gas</a></li>
    <li class="li-8"><a href="#">IT &amp; Telecommunication</a></li>
    <li class="li-9"><a href="#">Food Industry </a></li>
    <li class="li-10"><a href="#">Consulting</a></li>
    <li class="li-11"><a href="#">Banks &amp; Insurance </a></li>
  </ul>
</div>
<p>It is possible to include additionally desired blocks into research at client's requirement.</p>





<h1>Партнёрам</h1>
<p><img src="/assets/tmp/img8.jpg"></p>
<br>
<p><strong>Как партнеры HRC TSM Вы помогли нам стать одним из ведущих поставщиков услуг по подбору персонала в России.</strong></p>
<p>
  <strong>Так что самое меньшее, что мы могли бы для Вас сделать, &ndash; это по-прежнему выполнять все свои обязательства и продолжать оказывать Вам первоклассные услуги.</strong>
</p>
<p>Начиная сотрудничество, мы нацелены предоставить нашим партнерам исключительно оперативный результат.</p>
<p>На основании систематических исследований рынка по тем направлениям, с которыми работает HRC TSM:</p>
<ul>
  <li>Владеем ситуацией по рынку и основными тенденциями</li>
  <li>Имеем уникальную базу резюме</li>
  <li>Постоянно находимся в контакте с интересными кандидатами, в том числе с теми, кто не ищет активно работу, но готовы рассматривать интересные предложения</li>
  <li>Оптимизируем и расширяем ресурсы (в том числе международные) по тому или иному направлению бизнеса</li>
</ul>
<p>Мы работаем с вакансиями Middle и Top уровня по тем направлениям бизнеса, в которых свободно ориентируемся и владеем информацией, чтобы предоставить партнеру качественный и
  оперативный результат.
</p>
<p>Поэтому, получив проект клиента в работу, мы прежде всего оцениваем свой опыт, потенциал и возможности и ведем с клиентом открытые переговоры.</p>
<p><a href="/employer/feedback-from-our-partners" class="color1"><strong><span class="breadcrumbs pathway">Отзывы наших партнёров</span></strong></a></p>

<h1>For partners</h1>
<p><img src="/assets/tmp/img8.jpg"></p>
<br>
<p><strong>As HRC TSM partners you helped us to become one of the leading providers of recruitment services in Russia.</strong></p>
<p><strong>Thus the least we could do for you - is to fulfill our commitments as before and to continue providing you first-class services.</strong></p>
<p>Beginning a collaboration we are targeted at providing extra prompt result to our partners.</p>
<p>Basing on methodical researches of the market in directions challenging for HRC TSM:</p>
<ul>
  <li>We master the situation of the market and principal tendencies</li>
  <li>We possess a unique CV base</li>
  <li>We are in constant contact with interesting candidates including those who are not in active job search, but ready to consider interesting proposals.</li>
  <li>We optimize and enlarge resources (including international ones) on various business directions.</li>
</ul>
<p>We work with Middle and Top level vacancies of business directions we freely orient ourself at and possess information to provide the partner hight-quality and time-efficient
  result.
</p>
<p>That is why when receiving clinet's prject in operation we first of all evaluate our experience, potential and possibilities and frankly negotiate with our partner.</p>
<p><a href="/employer/feedback-from-our-partners" class="color1"><strong><span class="breadcrumbs pathway">Feedback of our partners</span></strong></a></p>





<h1>Отзывы наших партнёров</h1>
<div class="clearFix"><a target="_blank" href="/assets/tmp/klients/danfoss.pdf" class="fl-l"> <img width="320" border="0" src="/assets/tmp/klients/danfoss.jpg"></a>
  <a target="_blank" href="/assets/tmp/klients/2.jpg" class="fl-r"> <img width="320" border="0" src="/assets/tmp/klients/2.jpg"> </a></div>
<hr>
<div class="clearFix"><a target="_blank" href="/assets/tmp/klients/gemalto.jpg" class="fl-l"> <img width="320" border="0" src="/assets/tmp/klients/gemalto-s.jpg"></a>
  <a target="_blank" href="/assets/tmp/klients/3.jpg" class="fl-r"> <img width="320" border="0" src="/assets/tmp/klients/3.jpg"></a></div>
<hr>
<div class="clearFix"><a target="_blank" href="/assets/tmp/klients/1.jpg" class="fl-l"> <img width="320" border="0" src="/assets/tmp/klients/1.jpg"></a>
  <a target="_blank" href="/assets/tmp/klients/forbo-floring-7.jpg" class="fl-r"> <img width="320" border="0" src="/assets/tmp/klients/forbo-floring-7-s.jpg"></a></div>
<hr>
<div class="clearFix"><a target="_blank" href="/assets/tmp/klients/a-and-d.pdf" class="fl-l"> <img width="320" border="0" src="/assets/tmp/klients/a-d-8-s.jpg"> </a>
  <a target="_blank" href="/assets/tmp/klients/hrtsm_07112012_3.pdf" class="fl-r"> <img width="320" border="0" src="/assets/tmp/klients/hrtsm_07112012_3_s.jpg"></a></div>
<hr>
<div class="clearFix">
  <a target="_blank" href="/assets/tmp/klients/hrtsm_07112012_1.jpg" class="fl-l"> <img width="320" border="0" src="/assets/tmp/klients/hrtsm_07112012_1_s.jpg"></a>
  <a target="_blank" href="/assets/tmp/klients/hrtsm_07112012_2.pdf" class="fl-r"> <img width="320" border="0" src="/assets/tmp/klients/hrtsm_07112012_2_s.jpg"></a></div>

<h1>Feedback of our partners</h1>
<div class="clearFix"><a target="_blank" href="/assets/tmp/klients/danfoss.pdf" class="fl-l"> <img width="320" border="0" src="/assets/tmp/klients/danfoss.jpg"></a>
  <a target="_blank" href="/assets/tmp/klients/2.jpg" class="fl-r"> <img width="320" border="0" src="/assets/tmp/klients/2.jpg"> </a></div>
<hr>
<div class="clearFix"><a target="_blank" href="/assets/tmp/klients/gemalto.jpg" class="fl-l"> <img width="320" border="0" src="/assets/tmp/klients/gemalto-s.jpg"></a>
  <a target="_blank" href="/assets/tmp/klients/3.jpg" class="fl-r"> <img width="320" border="0" src="/assets/tmp/klients/3.jpg"></a></div>
<hr>
<div class="clearFix"><a target="_blank" href="/assets/tmp/klients/1.jpg" class="fl-l"> <img width="320" border="0" src="/assets/tmp/klients/1.jpg"></a>
  <a target="_blank" href="/assets/tmp/klients/forbo-floring-7.jpg" class="fl-r"> <img width="320" border="0" src="/assets/tmp/klients/forbo-floring-7-s.jpg"></a></div>
<hr>
<div class="clearFix"><a target="_blank" href="/assets/tmp/klients/a-and-d.pdf" class="fl-l"> <img width="320" border="0" src="/assets/tmp/klients/a-d-8-s.jpg"> </a>
  <a target="_blank" href="/assets/tmp/klients/hrtsm_07112012_3.pdf" class="fl-r"> <img width="320" border="0" src="/assets/tmp/klients/hrtsm_07112012_3_s.jpg"></a></div>
<hr>
<div class="clearFix">
  <a target="_blank" href="/assets/tmp/klients/hrtsm_07112012_1.jpg" class="fl-l"> <img width="320" border="0" src="/assets/tmp/klients/hrtsm_07112012_1_s.jpg"></a>
  <a target="_blank" href="/assets/tmp/klients/hrtsm_07112012_2.pdf" class="fl-r"> <img width="320" border="0" src="/assets/tmp/klients/hrtsm_07112012_2_s.jpg"></a></div>



<h1>Кандидатам</h1>
<div class="open-vakansy"><img border="0" src="/assets/tmp/img13.jpg"> <strong><a href="/jobs" class="link-3">Открытые вакансии</a></strong></div>
<br>
<p>В портфеле заказов HR Center TSM вакансии крупных западных и российских компаний, предлагающих интересную работу, перспективные проекты, обеспечивающие развитие и профессиональный рост кандидатам с активной жизненной позицией и&nbsp; амбициозными карьерными планами.</p>
<p>Высококвалифицированные Менеджеры HRC TSM нацелены исключительно на то, чтобы предоставить Вам возможность найти работу, максимально отвечающую Вашим интересам.</p>
<p>Мы всегда рады сотрудничеству с Вами!</p>
<p>&nbsp;</p>
<p><span class="color1">Свяжитесь с нами любым удобным для Вас способом:</span></p>
<ul>
<li>По телефону +7 (495) 98-00-765</li>
<li class="mailto">Пришлите Ваше резюме по e-mail <a href="mailto:cv@hrtsm.ru">cv@hrtsm.ru</a></li>
</ul>
<p>Мы рады помочь Вам в поиске достойной работы, обеспечивающей стабильный высокий доход и карьерный рост!</p>















