%ul#TopMenu.menu_top
  -@pages.each do |page|
    -if content = page.contents.find_by(lang: locale)
      %li{:class => params[:id] == page.path ? 'active': ''}
        =link_to page_path(:id => page.path) do
          %span= content.title  

#showcase
  %span.breadcrumbs.pathway
    =link_to "Главная", "/#{locale}", :class => "pathway"
    |
    dfcd