<!DOCTYPE html>
<html ng-app="staff">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Staff</title>
  <%= stylesheet_link_tag "staff/application", media: "all" %>
  <%= javascript_include_tag "staff/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
