<!DOCTYPE html>
<html>
<head>
  <title>Escommerce</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="btn-group">
  <a href="/en/" class="btn btn-default">eng</a>
  <a href="/ru/" class="btn btn-default">rus</a>
</div>


<%= yield %>

</body>
</html>
